
:root {
  --bg-color: #f9f9f9;
  --text-color: #555;
  --sub-header-color: #00aae2;
  --list-item-icon-color: #28a745;
  --list-item-border-color: #007bff;
  --expertise-list-border-color: #17a2b8;
}

body.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ddd;
  --sub-header-color: #1e90ff;
  --list-item-icon-color: #4caf50;
  --list-item-border-color: #1e90ff;
  --expertise-list-border-color: #1e90ff;
}

.about-us {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sub-header {
  font-size: 1.2rem;
  color: var(--sub-header-color);
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.sub-header i {
  margin-right: 10px;
}

p {
  line-height: 1.6;
  color: var(--text-color);
}

.values-list,
.expertise-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 20px;
}

.values-list li,
.expertise-list li {
  margin: 10px 0;
  padding-left: 20px;
  position: relative;
}

.values-list li::before,
.expertise-list li::before {
  content: "\f00c"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  color: var(--list-item-icon-color);
}

.values-list li {
  border-left: 3px solid var(--list-item-border-color);
  padding-left: 15px;
}

.expertise-list li {
  border-left: 3px solid var(--expertise-list-border-color);
  padding-left: 15px;
}
